

.graphdiv{
    height: 450px;
    width: fit-content;
    justify-content: center;
    align-content: center;
    border-radius: 8px;
}
.anmain{
    display: flex;
    flex-direction: column;
    padding: 30px;
    
    align-items: center;
}
.bottomstat{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
}
.stat{
    width: 90%;
    height: 110px;
    margin-right: 24px;
    border-radius: 5px;
    background-color: #ffffff;
}




.cattop {
    margin-left: 150px;
    margin-top: 40px;
    color: black;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);


}

.addbtn {
    margin-left: 580px;
    height: 45px;
    width: 130px;
    border-radius: 10px;
}






.material-symbols-outlined {
    cursor: pointer;
    color: rgb(255, 255, 255);

}

.material-symbols-outlined:hover {
    color: red;

}

.crupd {
    color: white;
    font-size: 20px;

}

.crupd:hover {
    color: rgb(136, 134, 134);
}

.delcr {
    color: white;
    font-size: 20px;
}

.delcr:hover {
    color: red;
}

.delbtn {
    margin-top: -110px;
    margin-bottom: 75px;
    margin-left: 50px;
}

.crbtn {
    height: 45px;
    width: 150px;
    margin-left: 580px;
    border-radius: 10px;
    background-color: rgb(8, 71, 61);

}

.crbtn:hover {
    background-color: rgb(4, 41, 35);
}


.catdropdown {
    position: relative;
    display: inline-block;
    margin-left: 150px;
}



/* Style for the dropdown content */
.catdropdown-content {
    display: none;
    position: absolute;
    z-index: 99;
}



/* Show the dropdown content when the button is focused */
.catdropdown:focus-within .catdropdown-content {
    display: block;
}



.file-input {
    height: 150px;
    width: 150px;
    background-color: aquamarine;
}

input {
    display: none;
}

.material-symbols-outlined {
    color: black;
}







.prdele {
    color: white;
    font-size: 20px;
    position: absolute;
    margin-top: 9px;
    margin-left: -10px;
    z-index: 99;
}



.imgno {
    display: none;
}





.prprice {
    width: 720px;
    height: 200px;
    background-color: white;
    border-radius: 15px;
    margin: 20px;

    #prpice {
        width: 30%;
        border-color: black;
        margin: 20px;
    }

    .prlab {
        margin: 20px;
        margin-bottom: -50px;
        color: black;
        font-weight: 400;
        font-size: large;
    }
}




    .prlab {
        margin: 20px;
        margin-bottom: -50px;
        color: black;
        font-weight: 400;
        font-size: large;
    }


.tb {
    background-color: white;
    margin-left: 35px;
    width: 935px;
    border-radius: 15px;
    min-height: 100px;
    overflow: hidden;
}



table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid #DFE5EB;
    /* Row border style and color */

}

td {
    padding: 8px;
    text-align: left;
    height: 80px;
    padding-left: 50px;
    color: black;
}

th {
    height: 50px;
    padding-left: 50px;
    background-color: #D6E6FE;
    border-color: #9fc3fd;
}

.prupd {
    color: black;
    cursor: pointer;


}

.prupd:hover {
    color: rgb(201, 201, 201);
}

.delpr {
    color: black;
    cursor: pointer;


}


.delpr:hover {
    color: red
}

.orderow {
    cursor: pointer;
}

.orderow:hover {
    background-color: rgb(241, 241, 241);
}

.statusdiv {
    width: max-content;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    margin-left: 35px;
}
.button-container {
    display: flex;
    
  }
.prcrbtn{
    height: 40px;
        width:180px;
        color: white;
        border-radius: 10px;
        margin: 20px;
        font-family: Arial, sans-serif;
        background-color: rgb(0, 80, 87);
        border: 1px solid rgb(0, 80, 87);
}